.yourCart{
	display: block;
	text-align: left;
	font-size: 4em;
	padding: 8px;
	width: 90%;
}

#subtotal{
	display: block;
	text-align: right;
	font-size: 3em;
	padding: 8px;
	width: 90%;
}
.cartItem{
	position: relative;
	width: 90%;
	min-width: 350px;
	margin: 10px;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #505050;
	border-radius: 3px;
	background-color: #FFFFFF;
	box-shadow: -2px 2px 5px;
}
	.prodInfo{
		width: 90%;
		min-width: 310px;
		margin: 10px 40px 10px 10px;
		display: flex;
		flex-flow: row wrap;
	}
		.cartImg{
			height: 100px;
			width: 124px;
		}
			.cartImg img{
				height: 100%;
				max-width: 100%;
			}
			
		.cartText{
			width: 80%;
			height: 100%;
			padding-left: 5px;
		}
			.cartText h2{
				font-size: 2em;
				padding: 2px;
			}
			
			.cartText .unitPrice{
				font-size: 1em;
				padding: 10px 0;
			}
			
			
			.cartText .price{
				font-size: 1.5em;
				font-weight: bold;
				color: #D47619;
			}
	
	.cartBtn{
		display: block;
		position: relative;
		width: 20px;
	}
		.remove{
			position: absolute;
			top: 0;
			right: 0;
		}
		
	.incdec{
		position: absolute;
		width: 40px;
		right: 30px;
		top: 0;
		margin-top: 20px;
		margin-bottom: 20px;
		display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-flow: column wrap;
	}
	
		.increment{
			width: 30px;
			height: 30px;
		}
		
		.quantity{
			display: block;
			text-align: center;
			width: 30px;
			height: 30px;
			padding: 4px;
			margin: 4px;
			font-size: 1.3em;
			font-weight: bold;
			
		}
		.decrement{
			width: 30px;
			height: 30px;
		}
		

#checkoutArea{
	width: 90%;
	position: relative;
	height: 60px;
}
	.checkout {
		background-color: #d47619;
		bottom: 0;
		color: white;
		font-size: 1em;
		font-weight: bold;
		height: 40px;
		position: absolute;
		right: 0;
		width: 180px;
		margin: 10px;
		margin-right: 0;
		border: none;
		border-radius: 5px;
	}
