* {margin: 0; padding: 0;}

html{
	height: 100%;
}

body{
	min-height: 100%;
	width: 85%;
    max-width: 1300px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

body p {
    color: #262525;
    font-family: 'Roboto', sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

header {
    height: 180px;
    width: 100%;
    background-color: #333333;
    border: 2px solid #333333;
    border-radius: 3px;
}

	.main {
	    position: relative;
        width: 100%;
        top: 0px;
        min-width: 320px;
        max-width: 1300px;
        height: 150px;
        opacity: 0.9;
        border-bottom: 1px solid #cacaca;
	}
			.logo {
				position: relative;
				top: 15px;
				left: 20px;
				width: 370px;
			}

				#logoImg {
					width: 100%;
				}
				
			.signBox {
			    position: absolute;
			    display: none;
			    top: 0px;
			    right: 0px;
			    width: 30%;
			    background-color: #cacaca;
			}
			
			     .signBox ul {
			         padding: 5px;
			         list-style: none;
			     }
			     
			     .signBox li {
			         padding: 3px;
			         color: white;
			     }
			     
			     .signBox label {
			         color: black;
			     }
				
			.actions {
				position: relative;
				bottom: 25px;
				right: 15px;
	            list-style: none;
	            font-family: 'Roboto', sans-serif;
	            font-size: 1em;
	            font-color: white;
	            margin-left: 30px;
	        }
	        
	        .actions li {
	            float: right;
	            padding: 4px 5px 3px;
	            color: white;
	        }
	        
	        .actions li:hover {
	            background-color: #D47619;
	            padding: 5px 5px 5px;
	        }
	
			#search {
				position: absolute;
				display: block;
				right: 5px;
				top: 3px;
				width: 250px;
				height: 20px;
				background-color: #E6E6E6;
				border: 2px solid #333333;
				float: right;
			}

    .navigation {
        position: relative;
        width: 100%;
        bottom: 0px;
        min-width: 320px;
        max-width: 1300px;
        height: 30px;
        opacity: 0.9;
    }
	
        .buttons {
            list-style: none;
            font-family: 'Roboto', sans-serif;
            font-color: white;
            font-size: 1em;
            margin-left: 30px;
        }
        
        .buttons li {
            float: left;
            padding: 4px 5px 3px;
            color: white;
        }
        
        .buttons li:hover {
            background-color: #D47619;
            padding: 5px 5px 5px;
        }
	
	.dropDown {
	    display: none;
	    position: absolute;
	    z-index: 1;
	    left: 10%;
	    top: 180px;
	}
	
	   .dropButtons {
	       position: relative;
	       top: 3px;
	       display: block;
	       width: 200px;
	       height: 210px;
	       list-style: none;
	       padding: 2px;
	       background-color: #333333;
	   }
	   
	   .dropButtons li {
           padding: 5px 5px 5px;
           color: white;
       }
	   
	   .dropButtons li:hover {
	       background-color: #D47619;
	       padding: 5px 5px 5px;
	   }
        

