* {margin: 0; padding: 0;}

body{
	position: relative;
    max-width: 1300px;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

body p {
    color: #262525;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

body h1, h2 {
	font-family: 'Gentium Book Basic', serif;
}

a {
    color: white;
    text-decoration: none;
}

.hidden{
	display: none;
}

header {
    height: 180px;
    width: 100%;
    background-color: #333333;
    border-radius: 3px;
}

	.main {
	    position: relative;
        width: 100%;
        top: 0px;
        height: 150px;
        opacity: 0.9;
        border-bottom: 1px solid #cacaca;
	}
	
	.currentUser {
		display: block;
		position: absolute;
		width: 200px;
		height: 50px;
		top: 5px;
		right: 5px;
	}
		
		.currentUser ul {
			list-style: none;
		}
		
		.currentUser li {
			float: right;
			font-size: 1.1em;
			color: #cacaca;
			padding: 8px;
		}
		
		.userName {
			font-weight: bold;
		}
		
		.logout {
			background-color: #333333;
			width: 50px;
			height: 15px;
			font-size: 0.8em;
			color: white;
			border: 2px;
			border-radius: 5px;
			text-align: center;
			text-decoration: underline;
		}
		
		.logout:hover{
			cursor: pointer;
		}
	
			.logo {
				position: relative;
				top: 15px;
				left: 20px;
				width: 370px;
				max-width: 60%;
			}

				#logoImg {
					width: 100%;
				}
				
			.signBox {
			    position: absolute;
			    display: none;
			    top: 0px;
			    right: 0px;
			    width: 30%;
			    min-width: 330px;
			    border-radius: 6px;
				background-color: #797979;
				box-shadow: -3px 3px 8px #FFFFFF;
			}
				#loginError{
					color: #FF6666;
					display: none;
				}
			
			     .signBox ul {
			         padding: 5px;
			         list-style: none;
			     }
			     
			     .signBox li {
			         padding: 3px;
			         color: white;
			     }
			     
			     .signBox label {
			         color: black;
			     }
			     
			     .inputField {
			     	float: right;
			     	margin-right: 70px;
			     }
			     
			     #signBtn {
			     	position: absolute;
			     	width: 50px;
			     	top: 20px;
			     	right: 10px;
    				cursor: pointer;
			     }
				
		.actions {
			position: absolute;
			bottom: 0px;
			right: 15px;
            list-style: none;
            font-family: 'Roboto', sans-serif;
            font-size: 1em;
            color: white;
            margin-left: 30px;
        }
	        
	        .actions li {
				position: relative;
				right: 26px;
				height: 33px;
				float: right;
				color: white;
				text-align: center;
	        }
	        
	        .actions li:hover {
	            background-color: #D47619;
	            cursor: pointer;
	        }
	        
	        #signin{
				position: relative;
				width: 80px;
				height: 20px;
				padding: 9px 8px 4px;
	        }
	        
	        
	        .actions a {
				position: relative;
				width: 80px;
				height: 20px;
				padding: 9px 8px 4px;
				display: block;
	        }
	        
	        #cartIcon{
				position: absolute;
				height: 1.5em;
				padding-left: 5px;
				bottom: 3px;
				right: 4px;
			}
			
	        #cartText{
	            color: white;
				float: left;
			}	
			
			.incart {
				position: absolute;
				right: -15px;
				bottom: 4px;
				font-weight: bold;
				color: white;
			}
			
			#searchArea{
					position: absolute;
					display: block;
					right: 5px;
					top: 3px;
					width: 250px;
					max-width: 35%;
					height: 20px;
					float: right;
			}
				#searchBtn{
					position: relative;
					right: 22px;
					height: 20px;
					width: 20px;
					background: url("../data/search.ico");
					border: 0;
					display: block;
					top: 1px;
					border-radius: 2px;
					background-color: #D47619;	
				}
				#searchBtn:hover{
					cursor: pointer;
				}
				
				#search {
					background-color: #E6E6E6;
					border: 2px solid #333333;
					height: 100%;
					width: 85%;
					top: 0px;
					position: absolute;
				}
			

    .navigation {
        position: relative;
        width: 100%;
        bottom: 0px;
        min-width: 320px;
        max-width: 1300px;
        height: 30px;
        opacity: 0.9;
    }
    
    	.navigation a {
            padding: 3px 5px 5px;
    		display: block;
    	}
	
        .buttons {
        	position: relative;
        	left: -20px;
            list-style: none;
            font-family: 'Roboto', sans-serif;
            color: white;
            font-size: 1em;
            margin-left: 30px;
        }
        
        .buttons li {
        	font-size: 1.1em;
            float: left;
            color: white;
        }
        
        .buttons li:hover {
            background-color: #D47619;
        }
	
	.dropDown {
	    display: none;
	    position: relative;
	    width: 200px;
	    z-index: 1; 
		left: 10px;
		bottom: 4px;
		font-family: 'Lato', sans-serif;
	}
	
	   .dropButtons {
	       position: relative;
	       top: 3px;
	       display: block;
	       width: 200px;
	       list-style: none;
	       background-color: #333333;	       
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
	   }
	   
	   .dropButtons li {
           padding: 5px 5px 5px;
           color: white;
       }
       
       .dropButtons a {
       		display: block;
       }
	   
	   .dropButtons li:hover {
	       background-color: #D47619;
	       padding: 5px 5px 5px;
	   }
        

