.imgBox {
    width: 10%;
    min-width: 300px;
    min-height: 200px;
    margin: 10px;
    height: 300px;
    white-space: nowrap;
    text-align: center; 
    margin: 1em 0;
    margin-left: 30px;
}
	.mainImg:hover{
    	cursor: pointer;;
	}

	.imgBox .helper {
		display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}

    .imgBox img {
        width: 100%;
		vertical-align: middle;
    }

.imgViewer {
	width: 30%;
	min-width: 340px;
}

.subImgBoxes {
	width: 100%;
	min-width: 300px;
	min-height: 100px;
	margin: 10px;
	position: relative;
	left: 0;
}

.subImgBoxes ul {
	list-style: none;
}

.subImgBoxes li {
	display: block;
	width: 30%;
	height: 100px;
	float: left;
	padding: 4px;
}
	.subimg:hover{
    	border: 2px solid #CA7E35;
    	cursor: pointer;
	}

.subImgBoxes li img {
	width: 100%;
	height: 100%;
}

.textBox {
    width: 65%;
    min-width: 310px;
    right: 0px;
    top: 0px;
    padding: 20px;
}

    .textBox h1 {
        font-size: 2em;
        padding: 5px;
        font-weight: bold;
        line-height: 2;
    }
    
    .textBox p {
        line-height: 1.4;
    }

.prodActions{
	position: relative;
	width: 300px;
	height: 100px;
	margin: 15px;	
}
	.stock {	
		position: absolute;
		font-family: 'Lato', sans-serif;
		left:  0;
		bottom: 1em;
		font-size: 1.3em;
		color: #4FCA35;
	}
	
	.out {
		color: #FF0F0F;
	}
	
	.addBtn {
		position: absolute;
		right: 0;
		bottom: 0;
		background-color: #333333;
		width: 170px;
		height: 50px;
		font-size: 1.5em;
		color: white;
		border: 2px;
		border-radius: 5px;
		text-align: center;
		line-height: 2;
		cursor: pointer;
	}
	
	.added {
		background-color: #CA7E35;
		width: 250px;
	}
	
	
	.prodPrice {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 2em;
		font-weight: bold;
		color: #CA7E35;
	}
	
	.BBG {
		position: absolute;
		right: 0;
		top: 0;
		background-color: #CA7E35;
		width: 170px;
		height: 40px;
		font-size: 1.05em;
		color: white;
		border: 2px;
		border-radius: 5px;
		text-align: center;
		line-height: 1.2;
	}

.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.7);
	display: none;
	width: 100%;
	height: 100%;
}

.imgFrame {
	position: relative;
	width: 70%;
	height: 70%;
	margin: auto;
	margin-top: 5%;
	background-color: rgba(0,0,0,1);
	white-space: nowrap;
    text-align: center; 
}

.helper {
		display: inline-block;
	    height: 100%;
	    vertical-align: middle;
}

.bigImg {
   	max-width: 400px;
	vertical-align: middle;

}

.prev {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 250px;
	left: 0px;

}

.next {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 250px;
	right: 0px;

}

.close {
	position: absolute;
	top: -3px;
	right: -3px;
	width: 30px;
	height: 30px;
}
